# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example
Resume.md

# build output
dist/
build/
.next/

# logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

# caches
.cache/
.parcel-cache/